 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #0a1801;
 }

 nav {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .logotipo {
     width: 222px;
     height: 71px;
 }

 .capa1 {
     width: 100%;
 }

 .capa {
     margin-bottom: -4px;
 }

 header {
     background-image: url("./imagens/capa1.jpg");
     width: 100%;
 }

 .blocoVerde {
     background-color: #279500;
     margin-top: 0;
     color: #f1f7eb;
     font-family: "Inter", sans-serif;
 }

 .blocoVerde h1 {
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-right: 10px;
 }

 .texto {
     padding: 10px;
     color: #f1f7eb;
     font-family: "Inter", sans-serif;
 }

 .negrito {
     font-weight: bold;
     font-family: "Inter", sans-serif;
     color: #f1f7eb;
     padding-left: 10px;
 }

 .link {
     color: #f1f7eb;
     text-decoration: none;
     font-family: "Inter", sans-serif;
     color: #f1f7eb;
     padding-left: 10px;
 }

 span {
     color: #00a3ee;
 }

 hr {
     border: none;
     height: 3px;
     background: linear-gradient(to right, #279500, #005008);
     border-radius: 2px;
     margin: 40px 0;
     width: 90%;
     max-width: 1800px;
     box-shadow: 0 0 8px #9013fe66;
     margin-left: auto;
     margin-right: auto;
 }

 .rodape {
     text-align: left;
     font-family: "Inter", sans-serif;
 }

 .rodape h3 {
     padding-left: 10px;
     padding-bottom: 5px;
     color: #f1f7eb;
 }

 .rodape p {
     text-align: left;
     padding-left: 10px;
     color: #f1f7eb;
 }

 .linkRodape {
     color: #f1f7eb;
     text-decoration: none;
 }

 @media screen and (min-width: 1024px) {
     h1 {
         font-size: 40px;
     }

     p {
         font-size: 20px;
     }

     h3 {
         font-size: 20px;
     }

     @media screen and (min-width: 1440px) {
         .logotipo {
             width: 300px;
             height: 100px;
         }

         h1 {
             font-size: 60px;
         }

         p {
             font-size: 30px;
         }

         h3 {
             font-size: 30px;
         }

     }
 }