* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logotipo {
    width: 222px;
    height: 71px;
    align-items: center;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #eaf3ff;
    background-image: url(./imagens/imagem\ de\ capa.jpg);
    width: 100%;
    text-align: center;
    background-position: center center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
}

body h1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

body p {
    line-height: 15px;
    padding-bottom: 50px;
}

.bloco {
    background-color: #000d1e;
    width: 100%;
}