/*
    COnfigurações gerais para mergens, textos e o titulo
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*p {
    color: #f1f7eb;
}

h1 {
    color: #f1f7eb;
}

.logotipo {
    width: 222x;
    height: 71px;
    align-items: center;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #0a1801;
    width: 100%;
    text-align: center;
    background-position: center center;
    line-height: 30px;
    margin: 0;

}

body h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

body p {
    line-height: 15px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.bloco {
    background-color: #0a1801;
    width: 100%;
    margin: 0;
}

.arvore {
    margin: 0;
    width: 100%;
}

.titulo {
    position: relative;
    color: #f1f7eb;
    font-size: 28px;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    cursor: default;
}

.titulo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 3px;
    width: 100%;
    background-color: #279500;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.titulo:hover::after {
    transform: scaleX(1);
}

.bloco p {
    line-height: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.botao {
    background-color: #279500;
    font-style: normal;
    font-family: "Inter", sans-serif;
    line-height: 15px;
    padding: 6px 6px 6px 6px;
    border-radius: 20px;
    border-width: 0;
    cursor: pointer;
}

.botao:hover {
    background-color: #279500;
    font-style: normal;
    font-family: "Inter", sans-serif;
    line-height: 15px;
    padding: 12px 12px 12px 12px;
    border-radius: 20px;
    border-width: 0;
    cursor: pointer;

}

.coop {
    margin: 0;
    width: 93%;
}

.vertical {
    width: 100%;
    padding-top: 20px;
}

hr {
    border: none;
    height: 3px;
    background: linear-gradient(to right, #279500, #005008);
    border-radius: 2px;
    margin: 40px 0;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 0 8px #9013fe66;
    margin-left: auto;
    margin-right: auto;
}

.rodape {
    text-align: left;
}

.rodape h3 {
    padding-left: 20px;
    padding-bottom: 5px;
}

.rodape p {
    line-height: 1px;
    text-align: left;
    padding-left: 20px;
}

.linkRodape {
    color: #f1f7eb;
    text-decoration: none;
}